
title{
    font-weight: bold;
}

del{
    color: red;
}

b{
    color: blue;
}

p{
    margin-left: 6%;
    margin-right: 8%;
}

.container {
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 2%;
    margin-bottom: 2%;
}

.navbar-brand{
    padding-left: 1%;
    font-size: x-large;
}

.output{
    margin-left: 6%;
    margin-right: 8%;
    padding-top: 10px;
    padding-left: 10px;
    padding-bottom: 10px;
    background-color: lightgrey;
}
